body {
    background-color: #4677f6;
    font-family: sans-serif;
}

.whole {
    height: 29rem;
    width: 20rem;
    margin: 5rem auto;
    background-color: white;
}

.head1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 1.5rem;
    margin-bottom: 1rem;
}

.p1 {
    font-size: x-small;
    font-weight: bolder;
    margin-left: 4rem;
    margin-right: 4rem;
}

.head2 {
    background-image: url(../media/map.png);
    background-size: cover;
    background-position: center;
    background-blend-mode: color-burn;
    background-color: #7099e1;
    height: 6.8rem;
    width: 21rem;
    border-radius: 5px;
    margin-left: -0.45rem;
    filter: drop-shadow(2px 8px 9px gray);
    position: relative;
}

.img2 {
    margin-left: 8rem;
    margin-top: 1.5rem;
    margin-bottom: -0.3rem;
}

.p2 {
    font-size: small;
    color: white;
    margin-right: 0.9rem;
}

.circle1 {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: white;
}

.line1 {
    height: 0.1rem;
    width: 2.5rem;
    background-color: white;
}

.line2 {
    height: 0.1rem;
    width: 6rem;
    background-color: #a3b9f5;
}

.sub-head2 {
    display: flex;
    align-items: center;
    margin-left: 1.6rem;
}

.p3 {
    font-size: small;
    color: white;
    margin-left: 0.9rem;
}

.p4 {
    font-size: 0.7rem;
    color: white;
    margin-right: 0.3rem;
}

.p5 {
    color: white;
    font-size: 0.7rem;
}

.sub2-head2 {
    margin-left: 1.6rem;
    display: flex;
    align-items: center;
}

.sub1-head2 {
    margin-top: 0.7rem;
}

.sub3-head2 {
    margin-top: -0.7rem;
    margin-left: 10rem;
    display: flex;
    align-items: center;
}

button {
    background-color: #4677f6;
    display: flex;
    align-items: center;
    outline: none;
    border: none;
    padding: 0.5rem 0.6rem;
    margin-left: 12rem;
    box-shadow: none;
    position: absolute;
    top: 14.5rem;
    border-radius: 5px;
}

.p6 {
    font-size: 0.7rem;
    color: white;
}

svg:hover {
    cursor: pointer;
    fill: black;
}

button:hover {
    cursor: pointer;
    background-color: #1957f2;
    transition: 0.9s;
}

.p7 {
    font-size: small;
    font-weight: bolder;
    margin-top: 1.7rem;
    margin-left: 1rem;
}

.head3 {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    margin-left: 1rem;
}

.sub-head3 {
    margin-left: 0.9rem;
}

.p8 {
    font-size: 0.7rem;
    color: #bdc1c4;
}

.p9 {
    font-size: 0.7rem;
}